# -------------------------------
# Git Ignore Configuration
# -------------------------------

# -------------------------------
# Node Files and Directories
# --------------------------------
node_modules/
# ------------------------------------------
# Test Results Specific Files and Directories
# ------------------------------------------
/test-results/*
/playwright-report/
/playwright/.cache/
/blob-report/ 
# ------------------------------------------
# setup Specific Files and Directories
# ------------------------------------------
.auth/
.github/
.auth/
# ------------------------------------------
# Test files that need to be hidden
# ------------------------------------------

# ------------------------------------------
# Data files that need to be hidden
# ------------------------------------------